<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Answers">  
	
	<select id="AnswersList"
	        resultType="com.quocar.chat.vo.AnswersVo">
	 	SELECT   ANSWER_ID
                ,MODEL_ID
                ,MECHANIC_ID
                ,ANSWER_TEXT
		FROM     ANSWERS
		ORDER BY ANSWER_ID	ASC
	
	</select>

</mapper>
















   